<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SimpleLoadTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SimpleLoadTest.Properties.Settings>
            <setting name="RampUp" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Duration" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="Users" serializeAs="String">
                <value>600000</value>
            </setting>
            <setting name="RateMin" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="RateMax" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Connection" serializeAs="String">
                <value>http://localhost/get</value>
            </setting>
            <setting name="MessageMin" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="MessageMax" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="Workers" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MaxAllowedLatency" serializeAs="String">
                <value>60000</value>
            </setting>
            <!-- RequestModes: 1 request oriented, 2 user oriented -->
            <setting name="RequestMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TotalRequests" serializeAs="String">
                <value>200000</value>
            </setting>
            <setting name="MulticastIP" serializeAs="String">
                <value>239.192.1.255:42000</value>
            </setting>
            <setting name="RequestRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserData" serializeAs="String">
                <value>unused</value>
            </setting>
        </SimpleLoadTest.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
